{% extends 'index.html' %}
        
        

{% block content %}





<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="rounded p-4" style="background-color: #ffffff;">
        <h2 class="text-center mb-4">Términos y Condiciones de Uso</h2>
        <p>
          <strong>1. Confidencialidad de los Datos Personales</strong>
          <br>
          1.1. <strong>Datos Personales:</strong> Los datos personales que proporcione, como su nombre completo y dirección de correo electrónico, serán tratados de manera confidencial.
          <br>
          1.2. <strong>Privacidad:</strong> Entendemos la importancia de la privacidad de sus datos personales. Los datos proporcionados solo se utilizarán para los fines de cálculo de estadísticas, generación de informes y la creación de gráficos relacionados con sus respuestas y desempeño en la Plataforma.
          <br>
          1.3. <strong>Acceso Personal:</strong> Solo usted tendrá acceso a sus resultados y datos personales. Nadie más, incluyendo otros usuarios de la Plataforma, podrá ver sus datos personales.
          <br><br>
          <strong>2. Datos Públicos</strong>
          <br>
          2.1. <strong>Resultados Grupales:</strong> Los resultados agregados y anónimos de los usuarios, que no contienen información personal identificable, pueden ser utilizados con fines estadísticos y podrán ser publicados de manera pública.
          <br><br>
          <strong>3. Correo Electrónico</strong>
          <br>
          3.1. <strong>Informes por Correo Electrónico:</strong> Su dirección de correo electrónico se utilizará para enviarle informes relacionados con sus respuestas y desempeño en la Plataforma. Estos correos electrónicos contendrán información detallada sobre sus resultados y posibles mejoras.
          <br><br>
          <strong>4. Aceptación de los Términos y Condiciones</strong>
          <br>
          4.1. <strong>Consentimiento:</strong> Al utilizar la Plataforma, usted acepta estos términos y condiciones. Si no está de acuerdo con estos términos, no debe utilizar la Plataforma.
          <br><br>
          <strong>5. Cambios en los Términos y Condiciones</strong>
          <br>
          5.1. <strong>Modificaciones:</strong> Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Se le notificará sobre cambios significativos en los términos y condiciones.
          <br><br>
          <strong>6. Responsabilidad</strong>
          <br>
          6.1. <strong>Limitación de Responsabilidad:</strong> La Plataforma se proporciona tal como está. No nos hacemos responsables de ningún daño o perjuicio derivado del uso de la Plataforma.
          <br><br>
          <strong>7. Contacto</strong>
          <br>
          7.1. <strong>Preguntas y Consultas:</strong> Si tiene alguna pregunta o consulta relacionada con estos términos y condiciones, por favor contáctenos a través de SISTEMAS_ITTEHUACAN@TECNM.MX
        </p>
      </div>
    </div>
  </div>
</div>




{% endblock %}